body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: url("back_Iconn.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    /*height: 1000px;  You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

.centrado{
    position: relative;
    /* display:inline-block; */
    width: 90%;
    /* left: 5%; */
    top: 10%;
    margin-top: 8%;
    margin-left: 5%;
    
    /* height: 40%; */
    /* background-color: purple; */
    /* justify-content: center; */
}

.banner{
    position: relative;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 100px;
}

.logo{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.letrero{
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
}

.letreroDiv{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 7%;
}

.marcosDiv{
    margin-left: 10%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 50%;
}

.imagen{
    width: 70%;
    margin-left: 15%;
    margin-top: 7%;
    margin-bottom: 15%;
}

.ultimo{
    margin-bottom: 7%;
}

@media only screen and (max-width: 500px){
.letrero{
    font-size: large;
}
}

@media only screen and (min-width: 768px){
    .letrero{
        font-size: x-large;
    }

    .imagen{
        max-width: 400px;
    }

    .marcosDiv{
        max-width: 550px;
    }
}

@media only screen and (min-width: 1024px){
    .letrero{
        font-size: x-large;
    }

    .imagen{
        max-width: 200px;
    }

    .marcosDiv{
        max-width: 1000px;
    }

.ultimo{
    margin-bottom: 15%;
}
}
    
@media only screen and (min-width: 1200px){
    .letrero{
        font-size: xx-large;
    }

    .logo{
        display: block;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .imagen{
        max-width: 300px;

    }

    .marcosDiv{
        max-width: 80%;
    }
}    